{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}

    <div class="container">
        {% if username != "Log in" %}
            <h1 id="welcome">Welcome, {{ email }}.</h1>
            <hr id="welcome_line">
        {% endif %}

        <h3>Recent Community Reports</h3>
        <table>
            <thead>
                <tr>
                    <th>Vaccine</th>
                    <th>Quantity</th>
                    <th>Location</th>
                    <th>Date</th>
                    <th>Reported</th>
                </tr>
            </thead>
            <tbody>
                {% for report in reports %}
                    <tr>
                        <td>{{ report[0] }}</td>
                        <td>{{ report[1] }}</td>
                        <td>{{ report[2] }}</td>
                        <td>{{ report[3] }}</td>
                        <td>{{ report[4] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
