{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table>
        <thead>
            <tr>
                <th>Vaccine</th>
                <th>Quantity</th>
                <th>Location</th>
                <th>Date</th>
                <th>Additional Notes</th>
                <th>Reported</th>
            </tr>
        </thead>
        <tbody>
            {% for report in reports %}
                <tr>
                    <td>{{ report[0] }}</td>
                    <td>{{ report[1] }}</td>
                    <td>{{ report[2] }}</td>
                    <td>{{ report[3] }}</td>
                    <td>{{ report[4] }}</td>
                    <td>{{ report[5] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
