{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}

    <div class="container">
        <h1>Welcome to the World Health Organization's vaccine tracking hub.</h1>
        <h2>If you haven't already, please consider <a href="/register">creating an account</a> to contribute to the database. You will also
        gain access to existing WHO data on vaccine distribution efforts.</h2>
        <h3><a href="/register">Register</a> or <a href="/login">log in</a> here.</h3>
    </div>

{% endblock %}
