{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <h2>Change Your Password</h2>
    <br>
    <form action="/password" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="old password" placeholder="Old Password" type="password">
        </div>
        <div class="form-group">
            <input class="form-control" name="new password" placeholder="New Password" type="password">
        </div>
        <div class="form-group">
            <input class="form-control" name="confirmation" placeholder="Confirm New Password" type="password">
        </div>
        <button class="btn btn-secondary" type="submit">Change Password</button>
    </form>
{% endblock %}
